html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    font-size: 16px;
}
#app{
    width: 100%;
    height: 100%;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
